body {
    padding: 0px;
    margin: 0px;

    background-image: url("textured_paper.png");
    background-repeat: repeat;

    color: #444;
    font-family: Helvetica;
}

#wrapper {
}

.middle {
    width: 600px;
    margin: auto;
}

#header-wrapper {

    background-image: url("classy_fabric.png");
    background-repeat: repeat;

    background-color: #184F7D;
    color: white;
}

#header {
    padding: 50px 0px 30px 0px;
}

#header #company {
    margin: 0px;
    font-size: 200%;
}

#header #company a {
    color: yellow;
    font-weight: normal;
    text-decoration: none;
}

#header #company a:hover {
    color: yellow;
    text-decoration: underline;
}

#header #tagline {
    font-weight: normal;
    margin: 10px 0px;
    font-size: 120%;
    margin-left: 20px;
    font-family: Times;
    font-style: italic;
}

#navbar-wrapper {
    background-color: #1B1C1E;
}

#navbar {
    padding: 10px 0px;
}

#navbar a {
    padding: 20px;
    margin-right: 10px;
    margin-left: -20px;

    color: #9d9;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80%;
}

#navbar a:hover {
    color: yellow;
    text-decoration: underline;
}

/* page content */
#body {
    font-size: 100%;
}

/* page title */
#body h3 {
    font-size: 120%;
    padding-bottom: 5px;
    border-bottom: 2px solid #2879BE;
}

/* page subtitle */
#body h4 {
    font-size: 110%;
}

#footer {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    text-align: center;

    font-size: 70%;
    color: #aaa;
}

#contact-info tr td:first-child {
    font-weight: bold;
    text-align: right;

    padding-left: 10px;
    padding-right: 10px;
}
