<table id="contact-info">
  <tr>
    <td>Email:</td>
    <td>
      <a href="mailto:info@gcmeconsultants.com">
        info@gcmeconsultants.com
      </a>
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>708.795.0600</td>
  </tr>
  <tr>
    <td>Linkedin:</td>
    <td>
      <a href="http://www.linkedin.com/in/gegeland">
        <img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Gretchen Egeland's profile on LinkedIn">
      </a>
    </td>
  </tr>
</table>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43030300-1', 'gcmeconsultants.com');
  ga('send', 'pageview');

</script>
