<table id="contact-info">
  <tr>
    <td>Email:</td>
    <td>
      <a href="mailto:info@gcmeconsultants.com">
        info@gcmeconsultants.com
      </a>
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>708.588.0600 or 708.795.0600</td>
  </tr>
  <tr>
    <td>Linkedin:</td>
    <td>
      <a href="http://www.linkedin.com/in/gegeland">
        <img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Gretchen Egeland's profile on LinkedIn">
      </a>
    </td>
  </tr>
</table>
