<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <div id="wrapper">

      <div id="header">
        <a href='./'><img src="logo.jpg"></a>

        <h1 id="company"><a href='./'>GCME Telecom auditors LLC</a></h1>
        <h2 id="tagline">Tagline</h2>

        <ul id="navbar">
          <li><a href="./">Services</a></li>
          <li><a href="./faq">FAQ</a></li>
          <li><a href="./about">About Us</a></li>
          <li><a href="./about#contact">Contact Us</a></li>
        </ul>
      </div>

      <div id="body">
        <h3>{{ page.title }}</h3>
        {{ content }}
      </div>

      <div id="footer">
        Copyright &copy; GCME 2013
      </div>

    </div>

  </body>

</html>
