<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="style-v2.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <div id="header">
      <div class="container">
        <div id="logo">
          <a href='./'><img src="logo.jpg"></a>
        </div>
        <div id="title">
          <h1 id="company"><a href='./'>GCME Telecom Consultants</a></h1>
          <h2 id="tagline">Complex Invoices Managed</h2>
        </div>
      </div>
    </div>

    <div id="navbar">
      <div class="container">
        <a href="./">Home</a>
        <a href="./services">Services</a>
        <a href="./faq">FAQ</a>
        <a href="./about">About Us</a>
        <a href="./contact">Contact Us</a>
      </div>
    </div>

    <div id="body">
      <div class="container">
        <h3>{{ page.title }}</h3>
        {{ content }}
      </div>
    </div>

    <div id="footer" class="middle">
      <div class="container">
        Copyright &copy; GCME Telecom Consultants LLC 2013
      </div>
    </div>

  </body>

</html>
