<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <div id="wrapper">

      <div id="header-wrapper">
        <div id="header" class="middle">
          <!-- <a href='./'><img src="logo.jpg" width="100"></a> -->
          <h1 id="company"><a href='./'>GCME Telecom auditors LLC</a></h1>
          <h2 id="tagline">Because you're handsome and smart.</h2>
        </div>
      </div>

      <div id="navbar-wrapper">
        <div id="navbar" class="middle">
          <a href="./">Services</a>
          <a href="./faq">FAQ</a>
          <a href="./about">About Us</a>
          <a href="./contact">Contact Us</a>
        </div>
      </div>

      <div id="body" class="middle">
        <h3>{{ page.title }}</h3>
        {{ content }}
      </div>

      <div id="footer" class="middle">
        Copyright &copy; GCME Telecom Auditors LLC 2013
      </div>

    </div>

  </body>

</html>
